*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background-color: #c0f4e5;
}
.card{
    width: 90%;
    max-width: 470px;
    min-width: 370px;
    background: linear-gradient(135deg,#00feba,#5b548a);
    border-radius: 20px;
    margin: 100px auto 0;
    color: #fff;
    padding: 40px 35px;
    text-align: center;
}
.search{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.search input{
    margin-right: 20px;
    border-radius: 30px;
    background: #ebfffc;
    color: #555;
    outline: 0;
    border: 0;
    height: 58px;
    padding-left: 20px;
    width: 360px;
    min-width: 200px;
    font-size: 20px;
    font-weight: 500;
    flex: 1;
}
.search button{
    border-radius: 50%;
    background: #ebfffc;
    height: 60px;
    width: 60px;
    outline: 0;
    border: 0;
    cursor: pointer;
}
.search button img{
    height: 25px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-size: 500;
    
}
.weather h2{
    font-size: 45px;
    font-size: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    padding: 0 20px;
}
.col{
    display: flex;
    text-align: left;
    align-items: center;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    font-weight: 500;
    margin-top: -6px;
}